@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Oswald&family=Phudu:wght@500&family=Tilt+Neon&display=swap');
/* Sets the font family for all Elements */
* {
    font-family: 'Tilt Neon', 'Electrolize', sans-serif;
}

/* Sets the background color for the entire page */
body {
    background-color: #2196f3;
}

.container {
    background: #432189;
    position: relative;
    width: 100%;
    height: 100vh;
}