@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Oswald&family=Phudu:wght@500&family=Tilt+Neon&display=swap');
/* Sets the font family for all Elements */
* {
    font-family: 'Tilt Neon', 'Electrolize', sans-serif;
}

/* Sets the background color for the entire page */
body {
    background-color: #2196f3;
}
/* Sets the parameters for a container that fills the entire viewport */
.container {
    background: #432189;
    position: relative;
    width: 100%;
    height: 100vh;
}

/* Styles the elements with a class of .continue-btn */
.continue-btn {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 25px;
    overflow: hidden;
    margin-left: 505px;
    margin-top: 60px;
}

/* Hover styles for continue buttons */
.continue-btn:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}
/* Parameters for the first span of the continue button */
.continue-btn span {
    position: absolute;
    display: block;
}
/* Hover styles for the first span */
.continue-btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}
.continue-btn:hover span:nth-child(1) {
    left:100%;
    transition: 1s;
}
/* Sets parameters for the second span of continue button */
.continue-btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}
/* Hover styles for second span of continue button */
.continue-btn:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
/* Sets parameters for the third span of continue button */
.continue-btn span:nth-child(3) {
    bottom: 0;
    left: -100%;
    width:100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}
/* Hover styles for third span of continue button */
.continue-btn:hover span:nth-child(3) {
    left: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
/* Sets parameters for the fourth span of continue button */
.continue-btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}
/* Hover styles for fourth span of continue button */
.continue-btn:hover span:nth-child(4) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}